[Unit]
Description=Bramnik telegram bot

[Service]
Type=simple
WorkingDirectory=/home/bramnik/BramnikBot/
ExecStart=/usr/bin/rbenv exec bundle exec ./bin/bot.rb
StandardOutput=journal
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
